@model ResumeBuilder.ViewModel.EducationVM

<style type="text/css">
    .row {
        margin-bottom: 25px;
    }

    .IconTitle {
        border: 3px solid #e0e0e0;
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: #5cb85c;
    }
</style>
<div class="container" style="outline-color:gray; outline-style:solid">
    <div class="row">
        <form role="form">
            <div class="col-lg-12">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Tell us about your Education</strong></div>
                
                <div class="form-group">
                    <label for="InputName">School Name</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.School_Name, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Institute/University" } })
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Location</label>
                    <div class="input-group">
                       
                        @Html.EditorFor(model => model.School_Location, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Location" } })
                        @Html.ValidationMessageFor(model => model.School_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="InputEmail">Degree</label>
                        <div class="input-group ">
                            @Html.DropDownListFor(model => model.Degree, Model.ListofDegree, new { @class = "input-large col-md-12", @id = "ListofDegree" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="InputMessage">Field of the Study</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.Field_Of_Study, new { htmlAttributes = new { @class = "form-control col-md-12", @placeholder = "Field of Study" } })
                            @Html.ValidationMessageFor(model => model.Field_Of_Study, "", new { @class = "text-danger" })
                       

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Graduation Year</label>
                    <div class="input-group ">
                        @Html.EditorFor(model => model.Graduation_Year, new { htmlAttributes = new { @class = "form-control", @placeholder = "Graduation Year" } })
                        @Html.ValidationMessageFor(model => model.Graduation_Year, "", new { @class = "text-danger" })
                      
                    </div>
                </div>
                 <button type="button" id="AddOrUpdateEducation" class="btn" style="background-color: #e066ff; color:#FFF;"> <span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Add Another Degree </button>

    @*<a href="@Url.Action("SkiCerfLang","Resume")" class="btn" style="position: relative; right: -100%; color:#FFF; background-color: #e066ff" > Next Step>> Skills </a>*@
                    
            </div>
        </form>
  
    </div>
</div>