@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cube &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="gettemplates.co" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Animate.css -->
    <link rel="stylesheet" href=@Url.Content("~/css/animate.css")>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href=@Url.Content("~/css/icomoon.css")>
    <!-- Themify Icons-->
    <link rel="stylesheet" href=@Url.Content("~/css/themify-icons.css")>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href=@Url.Content("~/css/bootstrap.css")>
    <!-- Magnific Popup -->
    <link rel="stylesheet" href=@Url.Content("~/css/magnific-popup.css")>
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href=@Url.Content("~/css/owl.carousel.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/css/owl.theme.default.min.css")>
    <!-- Theme style  -->
    <link rel="stylesheet" href=@Url.Content("~/css/style.css")>
    <!-- Modernizr JS -->
    <script src=@Url.Content("~/js/modernizr-2.6.2.min.js")></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body style="padding:0px">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                <div class="col-sm-2 col-xs-12">
                    <div id="gtco-logo"><a href=@Url.Action("Index", null, new { area = string.Empty, controller = "Home" })><img src="~/images/rsz_1resume_builder-01.jpg" alt="img HTML5 img"></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><a href=@Url.Action("Index", null, new { area = string.Empty, controller = "Home" })>Home</a></li>
                        <li><a href=@Url.Action("SuccessfulResume", null, new { area = string.Empty, controller = "Home" })>Successful Resume</a></li>
                        <li>
                            <a href=@Url.Action("Pricing", null, new { area = string.Empty, controller = "Home" })>Pricing</a>

                        </li>
                        @*<li><a href=@Url.Action("Login", null, new { area = string.Empty, controller = "Login" })>Sign-in</a></li>*@
                        <li><a href="#">Blogs/News Page</a></li>


                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </nav>



    @RenderBody()

  
    <footer id="gtco-footer" class="gtco-section" role="contentinfo">
        <div class="gtco-container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 gtco-cta text-center">
                    <h3>We Love To Talk About Your Business</h3>
                    <p><a href=@Url.Action("Contact", null, new { area = string.Empty, controller = "Home" }) class="btn btn-white btn-outline">Contact Us</a></p>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4 gtco-widget gtco-footer-paragraph">
                    <h3>Resume Builder</h3>
                    <p>Not happy with your current resume?</p>
                </div>
                <div class="col-md-4 gtco-footer-link">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="gtco-list-link">
                                <li><a href=@Url.Action("Index", null, new { area = string.Empty, controller = "Home" })>Home</a></li>
                                <li><a href=@Url.Action("SuccessfulResume", null, new { area = string.Empty, controller = "Home" })>Successful Resume</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href=@Url.Action("Login", null, new { area = string.Empty, controller = "Login" })>Sign-In</a></li>
                                <li><a href="#">Blogs/News Page</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <a href="tel://1234567890">+1 234 4565 2342</a> <br>
                                <a href="#">info@domain.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 gtco-footer-subscribe">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="" placeholder="Email">
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="gtco-copyright">
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p><small>&copy; 2018. All rights reserved. </small></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p><small>Made with love by people who care.</a></small> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src=@Url.Content("~/js/jquery.min.js")></script>
    <!-- jQuery Easing -->
    <script src=@Url.Content("~/js/jquery.easing.1.3.js")></script>
    <!-- Bootstrap -->
    <script src=@Url.Content("~/js/bootstrap.min.js")></script>
    <!-- Waypoints -->
    <script src=@Url.Content("~/js/jquery.waypoints.min.js")></script>
    <!-- Carousel -->
    <script src=@Url.Content("~/js/owl.carousel.min.js")></script>
    <!-- Magnific Popup -->
    <script src=@Url.Content("~/js/jquery.magnific-popup.min.js")></script>
    <script src=@Url.Content("~/js/magnific-popup-options.js")></script>
    <!-- Main -->
    <script src=@Url.Content("~/js/main.js")></script>

    <script src="~/js/Login.js"></script>
    <script src="~/js/Resume.js"></script>
    <script src="~/bundles/jqueryval"></script>

    @RenderSection("scripts", required: false)
</body>
</html>